    /* Custom styles */
    .footer {
        background-color: black;
        color: white;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .social-icons {
        margin-top: 10px;
    }
    .social-icons a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }
    .copyright {
        margin-top: 10px;
        font-size: 12px;
    }
    
    .download-button {
        /* Your custom styles here */
        background-color: #000000;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .download-button:hover {
        background-color: #2b2b2b !important;
        color: #ffffff;
    }
/* 
    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    /* HTML: <div class="loader"></div> */
    .loader {
        height: 4px;
        width: 130px;
        --c:no-repeat linear-gradient(#6100ee 0 0);
        background: var(--c),var(--c),#d7b8fc;
        background-size: 60% 100%;
        animation: l16 3s infinite;
    }

    @keyframes l16 {
        0%   {background-position:-150% 0,-150% 0}
        66%  {background-position: 250% 0,-150% 0}
        100% {background-position: 250% 0, 250% 0}
    }

    .loader.active {
        animation-play-state: running;
    }


     */